@font-face {
  font-family: "Noto Sans";
  src: url(./assets/font/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(./assets/font/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(./assets/font/NotoSansKR-Regular.otf);
}

body {
  margin: 0;
  font-family: "Noto Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(247, 247, 247);
  --primary-color: rgb(117, 184, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0 !important;
}
